<!DOCTYPE HTML>
<html>
<head>
     <title>404</title>
     <link rel="icon" href="/img/weatherforec.jpg">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <div class="main-content">
{{>header}}
<p>{{msg}}</p>
</div>
{{>footer}}
</body>
</html>
