<!DOCTYPE HTML>
<html>
<head>
<title>About</title>
<link rel="icon" href="/img/weatherforec.jpg">
<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <div class="main-content">
{{>header}}
<img class="portrait" src="/img/robot.jpg">
</div>
{{>footer}}
</body>
</html>
